<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src='./img/profile.jpg'>
            <div class="aboutMe">
                <p>Passionate, driven and ambitious software developer with strong problem solving & analytical skills having experience in JavaScript-based technologies.</p>
                <p>Contact - prashant.p7804@gmail.com</p>
            </div>
        </div>


        {{>footer}}
    </body>
</html>