<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Prashant. It uses data from mapbox.com and weatherstack.com!</p>
            
            <div class="aboutMe">
                <img class="portrait" src='./img/profile.jpg'>
                <p>Passionate, driven and ambitious software developer with strong problem solving & analytical skills having experience in JavaScript-based technologies.
                   <br>
                    Contact - prashant.p7804@gmail.com
                </p>
            </div>
        </div>


        {{>footer}}
    </body>
</html>