<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="icon" href="/img/weather.png">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"
        integrity="sha512-ChQiOC9OBUvQ75KLv3+YRxCQLV1bSWnGfcSdaP1v3iu6XSkmge+eXCu3lcV+O+Uvdjb+LGMZd/KAvV4rkEfbzw=="
        crossorigin="anonymous"></script>
        <script defer src="/js/skycon.js"></script>


    </head>

    <body>
        <div class="container">
            {{>header}}

            <div class="about-information">
                <p>
                This is a realtime, responsive web application, developed by Prashant. It uses data from <a href="https://www.mapbox.com/">mapbox</a> and <a href="https://weatherstack.com/">weatherstack</a>  APIs.
                <br>
                <span class="about-span">
                    Prashant is a passion driven and ambitious software developer with strong problem solving & analytical skills, having experience in JavaScript-based technologies and always eager to learn something new.
                </span>
                </p>
                <p class="contact-me">Get in touch</p>
            </div>
           
           <div class="about-section">
                <div class="detail">
                    <div class="icon"><a href="https://github.com/heyprashant" target="_blank" ><i  class="fab fa-github"></i></a></div>
                </div>
                <div class="detail about-bordered">
                    <div class="icon"><a href="https://www.linkedin.com/in/heyprashant/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                </div>
                <div class="detail">
                    <div class="icon"><a href="mailto:prashant.p7804@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>