<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"
        integrity="sha512-ChQiOC9OBUvQ75KLv3+YRxCQLV1bSWnGfcSdaP1v3iu6XSkmge+eXCu3lcV+O+Uvdjb+LGMZd/KAvV4rkEfbzw=="
        crossorigin="anonymous"></script>
    <script defer src="/js/app.js"></script>
     <script defer src="/js/skycon.js"></script>

</head>



<body>
    <div class="container">
        {{>header}}

        <div class="content">
            <div class="general-information">
                <div>
                    <div class="status" status>Enter A Location</div>
                    <div class="icon" id="icon"></div>
                </div>
                <div class="location" location>To Find the Weather</div>
            </div>
            <div class="detail-section">
                <div class="detail">
                    <div class="title">Wind</div>
                    <div class="value" wind>TBD</div>
                </div>
                <div class="detail bordered">
                    <div class="title">Temperature</div>
                    <div class="value" temperature>TBD</div>
                </div>
                <div class="detail">
                    <div class="title">Humidity</div>
                    <div class="value" humidity>TBD</div>
                </div>
            </div>
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Enter Location">
                <button class="search-button" id="search">
                    <i class="fas fa-search"></i>
                </button>
                <button class="location-button" id="location">
                    <i class="fas fa-map-marker-alt"></i>
                </button>
            </div>
        </div>


    </div>

    {{!-- <p id="message-1"></p>
    <p id='message-2'></p> --}}
    {{>footer}}


</body>

</html>