<header>
    <div>
        <div class="head"> {{title}} </div>
        <a href="/">Weather</a>
        <a href='/about'>About</a>
        <a href="/help">Help</a>
    </div>
    <div class="icon">
        <canvas id='icon' width="100" height="100"></canvas>
    </div>

</header>