*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  background: linear-gradient(to right, rgb(255, 167, 35), rgb(255, 97, 35));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 90%;
  width: 700px;
  min-height: 500px;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border-radius: 5px;
}

.content {
  padding: 20px;
  margin-top: 20px;
}

a {
    color: black;
}

header {
  background-color: #111;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

header .head {
  color: #e6e5e1;
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 20px;
}

header a {
  color: #777;
  margin-right: 16px;
  text-decoration: none;
  font-size: 1.1rem;
}

.general-information {
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.about-information {
  height: 215px;
  font-weight: 400;
  font-family: monospace;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.contact-me {
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
}


.status {
  font-size: 2.2rem;
  font-weight: bold;
}
.location {
  font-size: 1.8rem;
  font-weight: bold;
}

.detail-section, .about-section {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-top: 40px;
}


.detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
  text-align: center;
}

.display-error {
  font-size: 2rem
}

.detail.bordered, .about-bordered {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
}

.detail .title {
  align-items: center;
  font-size: 1.5rem;
  flex-grow: 1;
  font-weight: bold;
  color: #777;
}

.detail .value {
  font-size: 1.5rem;
  margin-top: 20px;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.search-input {
  width: 60%;
  height: 51px;
  padding: 10px;
  border: 2px solid #222;
  border-radius: 5px 0 0 5px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color:#222;
  background: none;
}
.search-button {
  text-align: center;
  height: 51px;
  width: 50px;
  outline: none;
  cursor: pointer;
  border: 2px solid #222;
  border-radius: 0 ;
  border-right: none;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 2px solid #222;
}
.location-button {
  text-align: center;
  height: 51px;
  width: 50px;
  outline: none;
  cursor: pointer;
  border: 2px solid #222;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 2px solid #222;
}

.help-button {
    height: 55px;
    width: 55px;
    outline: none;
    cursor: pointer;
    border: 2px solid #222;
    background: none;
    font-size: 1.6rem;
    color: #222;
    margin: 20px;
  }
  .help-information {
      margin: 20px;
      padding: 20px;
  }
  
.icon {
    font-size: 4rem;
}

footer {
  position:absolute;
  bottom: 10px;
  margin: auto;
  color: #333;
  font-size: 1 rem;
}




/* loader */

.spinner {
  display: none;
  margin: 36px auto 35px;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


@media screen and (max-width:450px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .container{
    margin: auto;
    margin-top: 40px;
    min-height: 506px;
  }
  .content {
    padding: 0px;
    margin: auto;
  }
  .general-information{
    margin: 20px 10px;
  }
  .canvas {
    width: 60px;
    height: 65px;
  }

  .status {
    font-size: 1.5em;
  }

  .location, .display-error, .about-information {
    font-size: 1.1rem;
  }

  .detail .title {
    font: 1.1em ;
  }

  .detail-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -15px;
  }

  .detail {
    margin: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
  }

  .detail .title {
    text-align: start;
    font-size: 1.5rem;
    flex-grow: 1;
    font-weight: bold;
    color: #777;
  }
  
  .detail .value {
    text-align: end;
    font-size: 1.2rem;
    margin-top: 0px;
  }

  .detail.bordered {
    border-top: 1px solid rgb(201, 199, 199);
    border-bottom: 1px solid rgb(201, 199, 199);
    border-right: 0px;
    border-left: 0px;
  }

  .search-container {
    display: grid;
    grid-gap: 10px;
    margin: 0px;
    margin-top: 5px;
    padding: 10px 0px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-areas: 
      "searchbar searchbar"
      "search location" 

  }
  .search-input {
    grid-area: searchbar;
    width: 120%;
    height: 40px;
    margin: 0px;
    padding: 10px;
    border: 2px solid #222;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color:#222;
    background: none;
  }
  .search-button {
    grid-area: search;
    text-align: center;
    align-self: center;
    height: 51px;
    width: 80px;
    outline: none;
    cursor: pointer;
    border: 2px solid #222;
    border-radius: 5px;
    background: none;
    font-size: 25px;
    
  }
  .location-button {
    grid-area: location;
    text-align: center;
    height: 51px;
    width: 80px;
    outline: none;
    cursor: pointer;
    border: 2px solid #222;
    border-radius: 5px;
    background: none;
    font-size: 25px;
  }
  .about-information {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
  }
  .about-span{
    display: none;
  }
  .about-section .detail {
    margin-left: 18px;
  }
  .about-bordered {
    border: 0px;
  }
  .contact-me {
    margin: auto;
    margin-top: 60px;
  }
  .help-button {
    margin: 0px;
    height: 55px;
    width: 75px;
    outline: none;
    cursor: pointer;
    border: 2px solid #222;
    background: none;
    font-size: 1.3rem;
    color: #222;
    margin-right: 10px;
  }
  .help-information {
      margin: 10px;
      margin-top: 30px;
      padding: 10px;
  }
  
  .help-information div {
    display: flex;
    padding:  0px;
    justify-content: space-between;
  }

  footer {
    position: relative;
  
  }

}


 /* media for iphone 5 */
@media screen and (device-aspect-ratio: 40/71) {
  .canvas {
    width: 35px;
    height: 45px;
  }
  .about-section .detail{
    margin-left: 8px;
  }
}
