*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: auto;
    padding: 20px 60px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: "input input";
    margin-bottom: 30px;
}

input {
    grid-area: input;
}

button {
    width: 70%;
    margin: auto;
    border-radius: 27px;
}

.main-content {
    border: 1px gray;
    flex-grow: 1;
    margin: auto;
    margin-left: 0px;
    width: 70%;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    background-color: lightgreen;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 48px;
    /* background: linear-gradient(to right, #494964, #6f6f89); */
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}
.aboutMe {
    display: flex;
    padding: 1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #888888;
}

@media (max-width: 400px) {
    h1 {
        font-size: 4rem;
        margin-bottom: 16px;
    }
    
    header {
        margin-top: 16px;
        margin-bottom: 48px;
        font-size: 2.4rem;
    }
   
}